@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/figtree-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/figtree-v9-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/figtree-v9-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container{
  max-width: 380px;
  margin: 0 auto;
  padding: 50px;
display: flex;
align-items: center;
height: 100vh;

}
.card{
  width:100%;
  
  background-color: azure;
  padding: 50px;
  border-radius: 20px;
  border:2px solid black; 
  box-shadow: 10px 10px 0px 0px black;
}
body{
  background-color:  hsl(47, 88%, 63%);
}
.head h6{
  background-color: hsl(47, 88%, 63%);
  padding: 3px;
  width: 45px;
}
.text h6 img{
  height: 27px;
  width: auto;
  vertical-align: middle;
}
.card img{
border-radius: 20px;
}





